.container {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

select,
.form-control > option {
  text-transform: capitalize;
}

.card {
  margin: 10px 0;
  cursor: pointer;
}

.card-text {
  text-transform: capitalize;
  font-weight: bold;
}

.modal-title {
  font-size: 24px;
  text-transform: capitalize;
}

.modal-body .img-fluid {
  width: 100%;
}

.modal-body .container {
  text-align: left;
}

.modal-size {
  width: 50%;
}

.badge {
  text-transform: uppercase;
  margin-right: 5px;
  min-width: 100px;
  padding: 5px 10px;
  color: white;
}

.badge-normal {
  background: #a8a878;
}

.badge-fire {
  background: #f08030;
}

.badge-fighting {
  background: #c03028;
}

.badge-water {
  background: #6890f0;
}

.badge-flying {
  background: #a890f0;
}

.badge-grass {
  background: #78c850;
}

.badge-poison {
  background: #a040a0;
}

.badge-electric {
  background: #f8d030;
}

.badge-ground {
  background: #e0c068;
}

.badge-psychic {
  background: #f85888;
}

.badge-rock {
  background: #b8a038;
}

.badge-ice {
  background: #98d8d8;
}

.badge-bug {
  background: #a8b820;
}

.badge-dragon {
  background: #7038f8;
}

.badge-ghost {
  background: #705898;
}

.badge-dark {
  background: #705848;
}

.badge-steel {
  background: #b8b8d0;
}

.badge-fairy {
  background: #ee99ac;
}

.progress {
  background-color: #ccc;
}

h5 {
  font-weight: bold;
}

.profile {
  font-weight: bold;
}
